.description {
    display: flex;
    /* gap: 24px; */
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    margin-bottom: 240px;
}

.description > p {
    width: 264px;
}

/* Section */

.section {
    display: flex;
    gap: 160px;
    margin-bottom: 240px;
}

.label {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
}

.label > h1 {
    width: 200px;
}

.feature--description {
    max-width: 320px;
}

.feature--description > p, li {
    margin-bottom: 12px;
}

ol {
    padding-left: 32px;;
}

.media--container {
    display: flex;
    gap: 32px;
}

.media--caption {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.media--caption > p {
    opacity: 0.4;
}

/* Launch & Load screens */
.gif {
    width: 160px;
    border-radius: 16%;
    box-shadow: 0px 0px 14px 0px rgba(233, 250, 226, 0.60);
    opacity: 0.6;
    transition: width 0.3s ease, opacity 0.3s ease;
}

.gif:hover {
    width: 320px;
    opacity: 1;
}

video {
    width: 132px;
    opacity: 0.6;
    transition: width 0.3s ease, opacity 0.3s ease;
}

video:hover {
    width: 300px;
    opacity: 1;
}


